/********************* GENERAL ************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/*********************** Content Box **************************/

main{
    margin: auto;
    background: rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333 ;
    border-radius: 7px;
    min-width: 400px;
}
.text{
    padding: 25px;
    color: white;
} 
body {
    /*padding: 25px;*/
    color: #ffffff;
    background-color: rgb(11, 11, 11);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

h1,h2, h3{
    color: #ffffff;
    text-align: center;    
}
.headings{
    font-family:'Source Code Pro', monospace,sans-serif;
    text-align: center;
}
/************ BUTTONS ******************/
button{
    background-color: rgb(30, 30, 30);
    border: 1px solid #26f4f4;
    color: white;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}
.btn{
    margin: 25px;
}
button:hover{
    box-shadow:  5px 5px #26f4f465;
    color: #26f4f4;
}
/********** DROP DOWN **************/
  .navbar{
    position:fixed;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(11, 11, 11);
    width: 100%;
    height: 85px;
    min-width: 300px;
    z-index: 3;
  }
.dropDown{
    align-self: center;
    margin-right: 25px;  
}
  .topnav {
    display: block;
    position: relative;
    overflow:"";
    background-color: rgb(11, 11, 11);
    right: 0px;
    top: 0px;
    width: 300px;
    text-align: center;
    z-index: 1;
  }

  .topnav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
  }
  .icon{
    display: none;
    text-decoration: none;
    color: white;
}



  /*************** INTRO ****************/
  .introFade {
    margin: auto;
    position: absolute;
    font-family:'Source Code Pro', monospace,sans-serif;
    font-size: 15px;
    left: 65%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.intro h3{
    display: flex;
    align-items: end;
    font-size: 15px;
}
h1 span{
    margin-left: -2px;
}

.title {  
    margin: auto;
    display: flex;
}

/*********************** AUTOMATIC SLIDER *******************************/


/*************** HEAD SLIDE *******************/
.headSlider{
    width: 100%;
    position: relative;
}
.mySlides {
    display: none;
    filter: grayscale(0.8);
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
    animation: fade 4s ease-in both;
}

/* Caption text */
.textSlider {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: rgb(255, 0, 0);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.4;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}
/********************* Fade text intro *************************/
.introFade{
    margin: auto;
    position: absolute;
    z-index: 1;
}
/************************ Fade Down *****************************/
#fadeDown{
    margin: auto;
    height: 125px;
    opacity: 0;
    margin-top: 60px;
    text-align: center;
    animation: fadeDown 1s ease-in both;
    animation-delay: 4s;
}
/************************ Fade up *****************************/
#fadeUp { 
    margin: auto;
    margin-top: 150px;
    width: 200px;
    text-align: center;
    opacity: 0;
    animation: fadeUp 1s ease-in both;
    animation-delay: 3s;
}
    
@keyframes fadeUp {
from {
    opacity: 0;
    transform: translate3d(0,-80%, 0);
}
to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
    }

  /********************** FADE DOWN ***********************/


    #fadeDown{
        position: absolute;
        left: -120px;
        bottom: -40px;
    }
    #fadeDown h3 {
        display: flex;
        justify-content: center;
    }

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translate3d(0, +50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*********************** Dark mode **************************/
.dark-mode {
    background-color:rgb(255, 255, 255);
    color: white;
}
.dark-mode .content {
    color:rgb(30, 30, 30);
}
/************** Photo box ******************/

.container .fs-box{
    position:relative ;
    width: 16rem;
    height: 19.5rem;
    margin: auto;
}
#introduction{
    padding: 50px;
}
.imgBox{
    position: absolute;
    top: 30px; /* to 0 for media Q */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.9s ease-in-out;
    /*background-image: url(img/photo-cv.png) ; /*** DARK MODE IMG ***/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16rem;
    height: 19.5rem;
    object-fit: cover;
    resize: both;
    
}
.container .fs-box:hover .imgBox{
    transform:translate(-1.5rem,-3.5rem);
}
.content{
    text-align: center;
    padding: 10px;
}
.content h2{
    font-size: 16px;
    font-weight: bolder;
    color: black;
    font-style: italic;
}
.fs-box{
    align-items: end;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.imgBox{
    top: 0px; 
}
#dark-mode{
    width: 16rem;
    height: 19.5rem;
}

/****************** SKILLS **********************/
.skills{
    display:none;
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333 ;
    border-radius: 7px;
}
.skills ul{
    display: block !important;
    column-count: 2;
}
/****************** Certificate **********************/
.certif{
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333 ;
    border-radius: 7px;
}
.certif ul{
    display: flex;
    column-count: 2;
    list-style: none;
}
/******************* Hobby **************************/
.hobby{
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333 ;
    border-radius: 7px;
}
.hobby ul{
    display: block;
    column-count: 2;
    list-style: none;
}
/************** Figma *******************/
.figma{
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333  ;
    border-radius: 7px;
    padding: 15px;
    display: grid;
    justify-content: center;
    text-align: center;
}
/***************** Contact Form **************************/
.contactIcon{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/************** Contact *******************/
#contact{
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333 ;
    border-radius: 7px;
}
#contact form{
    display: grid;
    text-align: start;
    padding: 15px;
    min-width: 400px;
    max-width: 1200px;
}
form button{
    margin: 30px;
}
input,textarea,label{
    margin: auto;
    width: 200px;
}

/************** GOOGLE MAP *******************/
.location{
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333  ;
    border-radius: 7px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.location h1{
    color: white;
}
.location embed{
margin: auto;
}
.location :nth-child(2){
    display: none;
}

/***************** FOOTER ************************/
footer{
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 60px;
    margin-top: 50px;
    border-radius: 7px;
    display:grid;
    place-content: center;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    padding: 10px;
}
/***************** ProgressBar ************************/
.progressBar{
    margin: auto;
    max-width: 1200px;
    min-width: 400px;
}
.progressBar ul{
    display: block;
    list-style: none;
    /*column-count: 4 !important;*/
}
.box{
    margin: auto;
    position: relative;
    max-width: 1200px;
    width: 100%;
    background:rgb(30, 30, 30);
    box-shadow:  8px 10px #33333333 ;
    padding: 10px 20px;
    border-radius: 7px;
}
.box .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: white;    /*#333;*/
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(255, 255, 255, 0.1);
}

.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #26f4f4;
    animation: progress 0.8s ease-in-out forwards; 
    opacity: 0;
}
/******* HTML ProgressBar ********/
.skill-per.html{
    width: 50%;
    animation-delay:0.4s;
}

/******* HTML ProgressBar ********/
.skill-per.css{
    width: 40%;
    animation-delay:0.4s;
}
/******* Bootstrap ProgressBar ********/
.skill-per.bootstrap{
    width: 30%;
    animation-delay:0.4s;
}
/******* Javascript ProgressBar ********/
.skill-per.javascript{
    width: 25%;
    animation-delay:0.4s;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per.tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color:#454545;
    padding: 2px 6px;
    border-radius: 3px;
    background:#26f4f4;
    z-index: 1;
}
.tooltip::before{
    content:"";
    position: absolute;
    left: 96%; /* Progress level */
    padding: 0 5px 0 5px;
    bottom: -1px;
    height: 10px;
    width: 10px;
    border-radius: 20%;
    z-index: -1;
    background: #ffffff;
}
.tooltip{
    font-size: 16px;
}
/************************** MEDIA QUERY MOBILE *****************************/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .introFade {
        font-size: 10px !important;
    }
    .textSlider {
      font-size: 11px
  }
  .progressBar ul{
    display:block;
    column-count: 2;    
    }
  }
/****************************** MEDIA QUERY IPAD  *******************************************/

@media screen and (max-width: 850px){
    .headSlider{
        min-width: 400px;
    }

    .icon{
        display: block;
    }
    .topnav{
        display: none;
        position: absolute;
        overflow: hidden;
        right: 70px;
        top: 110px; 
        background-color: #333;
        width: 150px;
        padding: 0px 10px 10px;
        text-align: center;
        z-index: 1;
    }
  
    #fadeDown {
        display: flex;
}
    /**************** Intro box **********************/

    .fs-box{
        display: flex;
        justify-content: center;
        align-items: start; /* to end for media Q */
    }
    .imgBox{
        position: absolute;
        top: 30px; /* to 0 for media Q */
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.9s ease-in-out;
       /* background-image: url(img/photo-cv.png) ; /*** DARK MODE IMG ***/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 16rem;
        height: 19.5rem;
        object-fit: cover;
        resize: both;
    }
    .container .fs-box:hover .imgBox{
        transform:none;
    }
    .headSlider{
        margin: auto;
        position: relative;
        overflow: hidden;        
    }

}
 /********* MAIN CONTENT *********/
 .text{
    margin: auto;
 }

/****************************** MEDIA QUERY DESKTOP  *******************************************/

@media screen and (min-width: 850px){
    .progressBar ul{
        display: block;
        column-count: 4 !important;
    }
    main{
        display: flex;
        justify-content: center;
        max-width:1200px;
    }
      /*********** Fade Welcome text *************/
  .introFade {
    margin: auto;
    font-size: 35px !important;
    left: 40%;
    top: 55%;
    /*transform: translate(-50%, -50%);*/
  }
  #fadeDown {
    position: absolute;
    display: flex;
    left: 0px;
    bottom: 0px;
  }
  #fadeUp {
    position: relative;
    display:inline;
  }
  /*************** INTRO ****************/
.intro h3{
    display: flex;
    align-items: end;
    font-size: 15px;
}
  /*************** Localisation ****************/
#carte{
    display: none;
}
.location :nth-child(2){
    display:flex;
}
}