/********************* GENERAL ************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding: 25px;
    color: #ffffff;
    background-color: black;
    font-size: 25px;
    font-family:'Source Code Pro', monospace,sans-serif;
}

h1,h2, h3{
    color: #ffffff;
    text-align: center;    
}

/************************ FADE UP *****************************/
#fadeUp { 
    margin: auto;
    margin-top: 150px;
    width: 180px;
    text-align: center;
    opacity: 0;
    animation: fadeUp 1s ease-in both;
}

/*
#fadeUp span{

}
*/

#fadeUp {
    animation-delay: 2s;
}
    
@keyframes fadeUp {
from {
    opacity: 0;
    transform: translate3d(0,-80%, 0);
}
to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
    }

  /********************** FADE DOWN ***********************/
#fadeDown {
    margin: auto;
    width: 300px;
    opacity: 0;
    margin-top: 60px;
    text-align: center;
    animation: fadeDown 1s ease-in both;
}

#fadeDown h3 {
display: flex;
justify-content: center;
}
 
#fadeDown {
    animation-delay: 3s;
}
    
@keyframes fadeDown {
from {
    opacity: 0;
    transform: translate3d(0, +50%, 0);
}
to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
    }

  /*************** INTRO ****************/
.intro{
    width: 350px;
    height: 600px;
}

.intro h3{
    display: flex;
    align-items: end;
}

.title {
    margin: auto;
    display: flex;
}
/*********************** MAIN **************************/
main{
    margin: auto;
    background: rgb(36, 32, 32);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.text{
    color: white;
}

.dark-mode {
    background-color:rgb(36, 32, 32);
    color: white;
}

.dark-mode .content {
    color:rgb(36, 32, 32);
}

.container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    position:relative ;
    width: 16rem;
    height: 19.5rem;
    margin: 3rem;
}

.container .box:hover .imgBox{
    transform:translate(-1.5rem,-3.5rem);
}

.content{
text-align: center;
padding: 10px;
}

.content h2{
    font-size: 16px;
    font-weight: bolder;
    color: black;
    font-style: italic;
}

.box{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: end;
}

.imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.9s ease-in-out;
}

.imgBox img{
    background-image: url(img/photo-cv.png) ; /*** DARK MODE IMG ***/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16rem;
    height: 19.5rem;
    object-fit: cover;
    resize: both;
}

/****************** SKILLS **********************/
.skills{
    margin: auto;
    background-color:rgb(36, 32, 32);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

/******************* HOBBY **************************/
.hobby{
    margin: auto;
    background-color:rgb(36, 32, 32);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

/************** GOOGLE MAP *******************/
.location{
    margin: auto;
    background-color:rgb(36, 32, 32);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.location h1{
    color: white;
}

/***************** FOOTER ************************/
footer{
    background-color: rgb(36, 32, 32);
    width: 100%;
    height: 60px;
    margin-top: 50px;
    display:grid;
    place-content: center;
    border-top: 1px solid #ffffff;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    padding: 10px;
}