/********************* GENERAL ************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/*********************** Content Box **************************/

main{
    margin: auto;
    background: rgb(30, 30, 30);
    border-radius: 7px;
    min-width: 400px;
}
.text{
    padding: 25px;
    color: white;
} 
body {
    color: #ffffff;
    background-color: rgb(11, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
p{
    line-height: 30px;
}
h1,h2, h3{
    color: #ffffff;
    text-align: center;    
}
.headings {
    font-family: 'Source Code Pro', monospace,sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 24px 0;
    display: block;
    position: relative;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,.2);
    color: #26f4f4;
    font-weight: 100;
}
.contentBox{
    margin: 50px auto;
    background: rgb(30, 30, 30);
    border-radius: 0 0 6px 6px;
    min-width: 400px; 
    max-width: 1200px;
    text-align: center;
}
main{
    margin: auto;
    background: rgb(30, 30, 30);
    border-radius: 0 0 6px 6px;
    min-width: 400px; 
}
/************ BUTTONS ******************/
button{
    background-color: rgb(30, 30, 30);
    border: 1px solid #26f4f4;
    color: white;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}
.btn{
    margin: 25px;
}
button:hover{
    box-shadow:  5px 5px #26f4f465;
    color: #26f4f4;
}
#lightBtn input {
appearance: none;
border: 1px solid #26f4f4;
padding: 10px;
text-align: center;
color: #26f4f4;
}
#lightBtn input::before{
    content: "darkmode";
}
#lightBtn input:checked:before{
    content: "lightmode";
    color: #1E1E1E;
}
/********** DROP DOWN **************/
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 11, 11);
    width: 100%;
    background: black;
    height: 85px;
    min-width: 300px;
    z-index: 3;
    box-shadow: 0 20px 70px #1E1E1E;
}
.dropDown{
    align-self: center;
    margin-right: 25px;  
}
.icon{
    display: none;
    text-decoration: none;
    color: white;
}
  .topnav {
    display: block;
    position: relative;
    overflow:"";
    background-color: black;
    right: 0px;
    top: 0px;
    text-align: center;
    z-index: 1;
  }
  .topnav a {
    color: white;
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }

/*********************** Text Box **************************/

.text{
    padding: 25px;
    color: rgb(240, 240, 240);
}
h4{
    color: #26f4f4;
    margin-bottom:20px ;
}
/*********** Text animation ***********/
.paragraph {
    display: block;
    opacity: 0;
    animation: reveal 0.8s forwards var(--d);
}
@keyframes reveal{
    from{ 
        transform: translateY(20px) ;
    } to {
        opacity: 1;
        transform: none;
    }        
}
  /*************** INTRO ****************/
  .introFade {
    margin: auto;
    position: absolute;
    font-family:'Source Code Pro', monospace,sans-serif;
    font-size: 15px;
    left: 65%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.intro h3{
    display: flex;
    align-items: end;
    font-size: 15px;
}
h1 span{
    margin-left: -2px;
}
.title {  
    margin: auto;
    display: flex;
}

/*********************** AUTOMATIC SLIDER *******************************/


/*************** HEAD SLIDE *******************/
.headSlider{
    width: 100%;
    position: relative;
}
.mySlides {
    display: none;
    filter: grayscale(0.8);
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    /* max-width: 1200px; */
    
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;
    animation: fade 4s ease-in both;
}

/* Caption text */
.textSlider {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.4;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}
/********************* Fade text intro *************************/
.introFade{
    margin: auto;
    position: absolute;
    z-index: 1;
}
/************************ Fade Down *****************************/
#fadeDown{
    margin: auto;
    height: 125px;
    opacity: 0;
    margin-top: 60px;
    text-align: center;
    animation: fadeDown 1s ease-in both;
    animation-delay: 4s;
}
/************************ Fade up *****************************/
#fadeUp {
    margin: auto;
    margin-top: 150px;
    width: 200px;
    text-align: center;
    opacity: 0;
    animation: fadeUp 1s ease-in both;
    animation-delay: 3s;
}
    
@keyframes fadeUp {
from {
    opacity: 0;
    transform: translate3d(0,-80%, 0);
}
to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
    }

  /********************** FADE DOWN ***********************/


    #fadeDown{
        position: absolute;
        left: -120px;
        bottom: -40px;
    }
    #fadeDown h3 {
        display: flex;
        justify-content: center;
    }

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translate3d(0, +50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*********************** Dark mode **************************/
.dark-mode {
    background-color:rgb(201, 201, 201);
    color: rgb(0, 0, 0);
}
/*.dark-mode p,h1,h2,h3,ul,li,label .title{
    color: black;
}*/
#dark-mode .content {
    color:rgb(30, 30, 30);
}
/************** Photo box ******************/

.container .fs-box{
    position:relative ;
    width: 16rem;
    height: 19.5rem;
    margin: auto;
}
#introduction{
    margin: auto;
    padding: 50px;
}
.imgBox{
    position: absolute;
    top: 30px; /* to 0 for media Q */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.9s ease-in-out;
    /*background-image: url(img/photo-cv.png) ; /*** DARK MODE IMG ***/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16rem;
    height: 19.5rem;
    object-fit: cover;
    resize: both;
}
.container .fs-box:hover .imgBox{
    transform:translate(-1.5rem,-3.5rem);
}
.content{
    text-align: center;
    padding: 10px;
}
.content h2{
    font-size: 16px;
    font-weight: bolder;
    color: black;
    font-style: italic;
}
.fs-box{
    align-items: end;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.imgBox{
    top: 0px; 
}
#dark-mode{
    width: 16rem;
    height: 19.5rem;
}
/****************** Text about me **********************/
.text :nth-child(1){
    padding-bottom: 10px;
}
h4{
    color: #26f4f4;
}

/****************** Strength **********************/
.strength{
    display:none;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    border-radius: 7px;
}
.strength ul{
    display: block !important;
    column-count: 2;
}
/***************** ProgressBar ************************/
.progressBar{
    margin: auto;
    max-width: 1200px;
    min-width: 400px;
}
.progressBar ul{
    display:block;
    list-style: none;
}
.box .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: white;    /*#333;*/
}
.skill-box .skill-bar{
    height: 10px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(255, 255, 255, 0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #26f4f4;
    animation: progress 0.8s ease-in-out forwards; 
    opacity: 0;
}
/******* HTML ProgressBar ********/
.skill-per.html{
    width: 50%;
    animation-delay:0.4s;
}
/******* HTML ProgressBar ********/
.skill-per.css{
    width: 40%;
    animation-delay:0.4s;
}
/******* Bootstrap ProgressBar ********/
.skill-per.bootstrap{
    width: 30%;
    animation-delay:0.4s;
}
/******* Javascript ProgressBar ********/
.skill-per.javascript{
    width: 25%;
    animation-delay:0.4s;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per.tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color:#454545;
    padding: 2px 6px;
    border-radius: 3px;
    background:#26f4f4;
    z-index: 1;
}
.tooltip::before{
    content:"";
    position: absolute;
    left: 96%; /* Progress level */
    padding: 0 5px 0 5px;
    bottom: "";
    height: 10px;
    width: 10px;
    border-radius: 20%;
    z-index: -1;
    background: #ffffff;
}
.tooltip{
    font-size: 15px;
    
}
/****************** Certificates **********************/

#certif ul{
    display: flex;
    column-count: 2;
    padding: 24px;
    justify-content: center;
}
li p {
    font-size: 14px;
    font-weight: 100 !important;
}
li {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}
/******************* Hobby **************************/
.contentBox{
    margin: 50px auto;
    min-width: 400px;
    max-width: 1200px;
    background-color: rgb(30, 30, 30);
    border-radius: 0 0 6px 6px;
    text-align: center;
}
#hobby ul{
    display: block;
    column-count: 2;
    list-style: none;
    padding: 15px;
}
/************** Figma *******************/
#figma{
    display: block;
}
#figma img{
    padding: 30px;
}
#figma p{
    padding-bottom: 30px;
}
/***************** Contact Form **************************/
.contactIcon{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/************** Contact *******************/
#contact{
    margin: 50px auto;
    min-width: 400px;
    max-width: 1200px;
    background-color:rgb(30, 30, 30);
    border-radius: 7px;
}
#contact form{
    display: grid;
    text-align: start;
    padding: 15px;
    min-width: 400px;
    max-width: 1200px;
}
form button{
    margin: 30px;
}
form input,textarea,label{
    margin: auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}
#suBtn{
    margin:25px auto;
    width: 105px;
}
/************** GOOGLE MAP *******************/

#littleMap{
    margin: auto;
    padding: 30px;
}
#bigMap{
    display:none;
    padding: 30px;
}

/***************** FOOTER ************************/
footer{
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 60px;
    margin-top: 50px;
    border-radius: 7px;
    display:grid;
    place-content: center;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    padding: 10px;
}

/************************** MEDIA QUERY MOBILE *****************************/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .introFade {
        font-size: 10px !important;
    }
    .textSlider {
      font-size: 11px
  }
  /********* Progress Bar *********/
  /*.progressBar ul{
    display:block;
    column-count: 2;
    }*/

  }
/****************************** MEDIA QUERY IPAD  *******************************************/

@media screen and (max-width: 850px){
    .headSlider{
        min-width: 400px;
    }

    .icon{
        display: block;
    }
    .topnav{
        display: none;
        position: absolute;
        overflow: hidden;
        right: 0px;
        top: 85px;
        background-color: #333;
        width: 150px;
        padding: 0px 10px 10px;
        text-align: center;
        z-index: 1;
    }
    
    #fadeDown {
        display: flex;
}
    /**************** Intro box **********************/

    .fs-box{
        display: flex;
        justify-content: center;
        align-items: start; /* to end for media Q */
    }
    .imgBox{
        position: absolute;
        top: 30px; /* to 0 for media Q */
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.9s ease-in-out;
       /* background-image: url(img/photo-cv.png) ; /*** DARK MODE IMG ***/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 16rem;
        height: 19.5rem;
        object-fit: cover;
        resize: both;
    }
    .container .fs-box:hover .imgBox{
        transform:none;
    }
    .headSlider{
        margin: auto;
        position: relative;
        overflow: hidden;        
    }
/********* Progress Bar *********/
    .progressBar ul{
        display:block;
        column-count: 2;    
        }
        .skill-box{
            padding: 15px 20px;
        }
}
 /********* MAIN CONTENT *********/
 .text{
    margin: auto;
 }

/****************************** MEDIA QUERY DESKTOP  *******************************************/

@media screen and (min-width: 850px){
    .progressBar ul{
        display: block;
        column-count: 4 !important;
    }
    main{
        display: flex;
        justify-content: center;
        max-width:1200px;
    }
      /*********** Fade Welcome text *************/
      .introFade {
        margin: auto;
        font-size: 35px !important;
        left: 40%;
        top: 55%;
    }
    #fadeUp {
        position: relative;
        display: inline;
    }
    #fadeDown {
        position: absolute;
        display: flex;
        left: 0px;
        bottom: 0px;
    }
  /*************** INTRO ****************/
    .intro h3{
        display: flex;
        align-items: end;
        font-size: 15px;
    }
      /*************** Localisation****************/
#littleMap{
        display: none;
    }
    #bigMap{
        display:flex;
        margin: auto;
    }

    .skill-box{
        padding: 25px 40px;
    }
      /****** Underline Hover effect *******/
    .topnav a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color:#26f4f4;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }
    .topnav a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}